@import "custom/bootstrap-grid.css"; // Do Not Delete!
@import "custom/bootstrap-reboot.css"; // Do Not Delete!
@import "custom/genesis-boilerplate.css"; // Do Not Delete!

// Vars
$white: #fff;
$black: #000;
$brownLight: rgb(210,171,103);
$brownDark: #2d1e03;
$transition: all .3s ease-in-out;

// Write Your Code There
/* Mobile menu */
.mobile-menu {display: none;}
// TODO: Adjust for admin bar under 700px
/* PLEASE adjust max-width:1000px breakpoint to the width your menu will use */

body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: 'PT Serif Caption', serif;
	line-height: 1.7;
	@media (max-width: 992px) {
		padding-top: 57px;
	}
}

.internal-hero-image {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,.6);
		z-index: 1;
	}
	h1, .entry-header, .site-inner {
		width: 100%;
		position: relative;
		z-index: 2;
	}
}

a:hover, a:focus, button:hover, button:focus {
	outline: none!important;
}

.title-area {
	display: none ;
}

.logotype {
	transform: translateX(-10px);
	width: 250px;
	height: 89px;
	display: flex;
	justify-content: center;
	align-items: center;
	outline: none;
	img {
		width: 100%;
		height: 100%;
	}
}
.btn-search {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background: none;
	outline: none;
	border-radius: 0;
	&:hover i {
		color: $brownLight;
	}
	&:hover {
		background: none;
		border: none;
	}
	i {
		font-size: 14px;
		color: $brownDark;
		transition: all .3s ease-in-out;
	}
}

.header {
	width: 100%;
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	&--wrap {
		width: 100%;
		background-color: $white;
		box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,.135);
		@media (max-width: 992px) {
			position: fixed!important;
			top: 0!important;
			left: 0!important;
			z-index: 99991!important;
		}
	}
	&__top {
		position: relative;
		width: 100%;
		border-bottom: 1px solid #f2f2f2;
		@media (max-width: 992px) {
			display: none!important;
		}
		&::before, &::after {
			content: "";
			position: absolute;
			top: 100%;
			left: -3000px;
			width: 3000px;
			height: 1px;
			background: #f2f2f2;
		}
		&--fix {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
		&::after {
			left: initial;
			right: -3000px;
		}
		p {
			padding-bottom: 0!important;
		}
	}
	&__low {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	&__fix {
		display: none;
		width: 100%;
		padding-top: 30px;
		@media (max-width: 992px) {
			display: flex;

		}
	}
	&__social {
		.social {
			justify-content: flex-end;
			&__item {
				padding: 0 0 0 15px;
			}
		}
	}
	&__menu {
		width: max-content;
	}
	&__phone {
		p {
			padding-bottom: 0;
			font-size: 32px;
			color: $brownDark;
			a {
				margin-left: 10px;
				text-decoration: initial;
				transition: $transition;
				color: $brownDark;
				position: relative;
				&::before {
					content: "";
					position: absolute;
					bottom: -2px;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 2px;
					background: $brownDark;
					opacity: 0.7;
					transition: $transition;
				}
				&:hover::before {
					width: 100%;
				}
				&:hover {
					text-decoration: initial;
					opacity: 0.7;
				}
			}
		}
	}
	&__sticky {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 99996;
		@media (max-width: 992px) {
			position: initial;
		}
	}
}

.admin-bar {
	.header {
		&__sticky {
			top: 32px;
			@media (max-width: 768px) {
				top: 46px;
			}
		}
	}
}

.title-font {
	font-family: 'Cinzel', serif;
}

p {
	padding: 0;
	margin: 0;
}

.site-inner {
	padding: 0;
	margin: 0;
	max-width: 100%;
	background: transparent!important;
}

.site-header {
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	top: initial;
	left: initial;
	z-index: 9995!important;
	&::after, &::before {
		content: none!important;
	}
	> .wrap {
		max-width: 1110px;
		margin: 0 auto;
		padding: 0 15px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		&::after, &::before {
			content: none!important;
		}
	}
}

.search-custom {
	height: 100vh;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9998;
	background: rgba(255,255,255, 0.95);
	transition: all .3s ease-in-out;
	display: none;
}

.search-form {
	text-align: center;
	&--wrap {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		z-index: 9999;
	}
	&__label {
		text-transform: uppercase;
	}
	&__input {
		text-align: center;
		line-height: 1;
		font-size: 60px;
		width: 100%;
		background: none;
		border-color: transparent!important;
		@media (max-width: 768px) {
			font-size: 45px;
		}
		@media (max-width: 576px) {
			font-size: 25px;
		}
	}
}

.menu--wrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: max-content;
	@media (max-width: 992px) {
		.btn-search {
			display: none;
		}
	}
}

.menu-item-has-children {
	position: relative;
	&::after {
		content: "\f103";
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		color: $brownDark;
		font-size: 14px;
		transition: $transition;
	}
	&:hover::after {
		color: $brownLight;
	}
}

.sub-menu {
	.menu-item-has-children {
		position: relative;
		&::after {
			right: 10px;
		}
	}
}

.menu-item {
	a {
		text-transform: uppercase;
		font-family: 'Cinzel', serif;
		font-size: 14px;
		color: $brownDark!important;
		transition: $transition;
		text-decoration: initial;
		&:hover, &:focus {
			color: $brownLight!important;
			text-decoration: initial;
		}
	}
}

.wpcf7-not-valid-tip {
	font-size: 12px;
	position: absolute;
	bottom: -26px;
	left: 1px;
}


.form-info__label {
	position: relative;
}

.hero {
	width: 100%;
	&--wrap {
		width: 100%;
	}
	&__line {
		padding: 10px 30px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: red;
	}
	&__link {
		text-align: center;
		font-size: 16px;
		color: $white;
		line-height: 1.3;
		text-decoration: initial;
		&:hover {
			color: $white;
			text-decoration: initial;
		}
	}
	&__title {
		font-size: 64px;
		text-align: center;
	}
	&__image {
		width: 100%;
		img {
			width: 100%;
		}
	}
	&__main {
		padding-right: 35px;
		max-width: 1920px;
		margin: 0 auto;
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		@media (max-width: 1300px) {
			align-items: flex-end;
		}
		@media (max-width: 1300px) {
			padding-right: 0;
		}
	}
	&__banner {
		width: 75%;
		@media (max-width: 992px) {
			width: 100%;
		}
	}
	&__form {
		height: 100%;
		padding: 30px 30px 10px;
		width: 25%;
		background-color: $brownLight;
		@media (max-width: 1300px) {
			padding: 30px 15px 10px;
		}
		@media (max-width: 992px) {
			width: 100%;
		}
		@media (max-width: 576px) {
			padding: 30px 35px 10px;
		}
		&--title {
			font-family: 'Cinzel', serif;
			color: $brownDark;
			text-align: center;
			padding-bottom: 15px;
			margin-bottom: 0;
			span {
				width: 100%;
				display: block;
				margin-top: 10px;
				color: $white;
				font-size: 17px;
				@media (max-width: 1200px) {
					display: none;
				}
				@media (max-width: 992px) {
					display: block;
				}
			}
		}
	}
}

.form-hero {
	width: 100%;
	position: relative;
	&__name {
		font-size: 14px;
		color: $brownDark;
	}
	.wpcf7-response-output {
		position: absolute;
		bottom: -36px;
		right: -6px;
		width: 100%;
		font-size: 12px;
		line-height: 1.2;
		border-color: $brownDark!important;
		background-color: $brownLight;
		text-align: center;
		z-index: 2;
		color: $white;
	}
	&__textarea {
		width: 100%;
		margin-bottom: 20px;
		.wpcf7-not-valid-tip {
			bottom: -15px;
		}
		textarea {
			width: 100%;
			height: 100px;
			resize: none;
			outline: none;
			border-radius: 5px;
			font-size: 14px;
		}
	}
	&__label {
		width: 100%;
		margin-bottom: 20px;
		input {
			width: 100%;
			height: 35px;
			padding: 0 15px;
			border-radius: 5px;
			outline: none;
			color: $brownDark;
			font-size: 14px;
		}
	}
	&__btn {
		width: 100%;
	}
	&__submit {
		width: 100%!important;
		height: 45px;
		font-size: 16px;
		border: none;
		background-color: $brownDark!important;
		color: $white!important;
		outline: none;
		border-radius: 5px;
		text-align: center;
		font-family: 'Cinzel', serif;
		transition: $transition;
		&:hover {
			color: $brownLight!important;
			outline: none;
		}
	}
}

.title-global {
	width: 100%;
	height: 153px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	&::before, &::after {
		content: "";
		position: absolute;
		top: 49.5%;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $white;
	}
	&::after {
		top: 51%;
	}
	&--wrap {
		width: 100%;
		p {
			display: none!important;
		}
	}
	.title-font {
		position: relative;
		padding: 0 30px;
		margin: 0;
		text-align: center;
		font-size: 45px;
		color: $white;
		letter-spacing: -.023em;
		line-height: 1;
		z-index: 2;
		@media (max-width: 576px) {
			padding: 0 15px;
		}
	}
}

.about {
	padding: 40px 50px 50px;
	width: 100%;
	max-width: 1920px;
	text-align: center;
	margin: 0 auto;
	&__sub {
		font-size: 35px;
		color: $brownDark;
		padding-bottom: 40px;
	}
	&__text {
		color: $brownDark;
	}
}

.awards {
	width: 100%;
	padding: 30px 0 0;
	&--wrap {
		width: 100%;
	}
	&__four {
		width: 100%;
		display: flex;
		padding-bottom: 40px;
	}
	&__three {
		width: 100%;
		display: flex;
		padding-bottom: 40px;
		.award {
			max-width: 33.3333%;
		}
	}
}

.award:not(:last-child) {
	padding-right: 25px;
}

.award {
	width: 100%;
	max-width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__link {
		width: max-content;
		outline: none;
	}
	a {
		transition: $transition;
		&:hover {
			opacity: 0.6;
		}
	}
	&__rating {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		.rating, .top {
			padding-bottom: 16px;
			padding-top: 40px;
			color: #e66026;
			line-height: 1;
			text-align: center;
			span:first-child {
				display: block;
				font-size: 20px;
			}
			span:last-child {
				display: block;
				font-size: 10px;
			}
		}
		.top {
			padding-top: 59px;
			span:first-child {
				font-size: 10px;
			}
			span:last-child {
				color: $black;
			}
		}
	}
	&__info {
		font-size: 10px;
		text-align: center;
		color: $white;
		line-height: 1;
	}
}

.avvo {
	padding: 0!important;
	width: 135px;
	height: 110px;
	position: relative;
	&--wrap {
		padding-top: 10px;
		padding-bottom: 60px;
		justify-content: space-around;
	}
}

.fs25 {
	height: 90px!important;
	&::before, &::after {
		width: 80%!important;
		left: 50%!important;
		top: 48.5%!important;
		transform: translateX(-50%)!important;
	}
	&::after {
		top: 51.5%!important;
	}
	h2 {
		font-size: 25px!important;
	}
}

.practice-area-heading {
	font-size: 16px;
	font-family: 'Cinzel', serif;
}

.our-firm-intro-img {
	+ p:not(.rs-content-cta) {
		display: none;
	}
}

.our-firm-staff, .page-id-1210 .attornies-list, .layers--list, .covid, .attorneys--wrapper {
  position: relative;
  &::before, &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -5000px;
    width: 5000px;
    height: 100%;
    background: $brownLight;
  }
  &::after {
    left: initial;
    right: -5000px;
  }
}

.scroll-btn {
	width: 35px;
	height: 35px;
	position: fixed;
	bottom: 15px;
	right: 15px;
	font-size: 20px;
	color: #272727;
	border: 2px solid #272727;
	border-radius: 50%;
	outline: none;
	transition: all .3s ease-in-out;
	transform: translateY(80px);
	z-index: 99;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	text-decoration: initial;
	opacity: 0.7;
	&:hover > i {
		transform: translateY(-3px);
	}
	&:hover {
		opacity: 0.5;
		color: #272727;
		text-decoration: initial;
	}
	i {
		transition: $transition;
	}
}

.sticky-btn {
	transform: translateY(0);
}

.data {
	padding: 30px 0;
	width: 100%;
	max-width: 1920px;
	display: flex;
	justify-content: center;
	align-items: center;
	&--wrap {
		width: 100%;
		background-color: hsl(38, 54%, 61%);
	}
	&__item {
		width: 20%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
	}
	&__sub {
		font-size: 3.25em;
		margin: 0;
		padding: 0;
		font-family: 'Cinzel', serif;
		color: $brownDark;
	}
}

.plus-fix {
	&--wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		width: max-content;
		span {
			display: inline-block;
			transform: translateY(-2px);
			color: $brownDark;
			font-size: 3.25em;
		}
	}
}

.attorney-email {
	width: max-content;
	margin-bottom: 35px;
	@media (max-width: 576px) {
		width: 100%;
	}
	&__link {
		padding: 0 50px;
		width: max-content;
		display: flex;
		justify-content: center;
		align-items: center;
		height: 45px;
		border: 2px solid $brownLight;
		color: $brownLight;
		font-size: 20px;
		border-radius: 5px;
		font-family: 'Cinzel', serif;
		background: $white;
		transition: $transition!important;
		outline: none;
		text-decoration: initial;
		@media (max-width: 576px) {
			width: 100%;
			padding: 0;
			font-size: 18px;
		}
		br {
			display: none;
		}
		i {
			color: $brownLight!important;
			margin-right: 10px;
			font-size: 22px;
		}
		&:hover, &:focus {
			text-decoration: initial;
			color: $brownDark;
		}
		&:hover i, , &:focus i {
			color: $brownLight;
		}
	}
}

.form-info__button-submit .button-submit {
	width: 100%!important;
}

.layers {
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	background-color: hsl(38, 54%, 61%);
	&--wrap {
		width: 100%;
	}
	&--list {
		background: $brownLight;
		padding: 30px 0;
		.title-global--wrap {
			display: none;
		}
		.layers {
			box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,.135);
			background: $white;
			border-radius: 5px;
			overflow: hidden;
			&__head {
				padding: 17px 0 15px;
				background: $white;
			}
		}
	}
	&__head {
		padding: 30px 0 10px;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__icon {
		width: 40px;
		height: 40px;
		background-color: $brownDark;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		i {
			display: inline;
			color: $white;
			font-size: 16px;
		}
	}
	&__title {
		padding: 0 0 0 10px;
		margin: 0;
		font-family: 'Cinzel', serif;
		font-size: 25px;
		line-height: 1.3;
	}
	&__main {
		width: 100%;
	}
	&__link {
		width: 100%;
		display: block;
		overflow: hidden;
		transition: all .3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
		&:hover > img {
			transform: scale(1.05);
		}
		img {
			width: 100%;
			transition: all .3s ease-in-out!important;
		}
	}
	&__item {
		width: 33.3333%;
	}
}

.layers--sm {
    position: relative;
	padding: 0!important;
	margin: 0!important;
	background-color: $brownLight;
	.layers {
		&__head {
			padding: 17px 0 15px;
		}
		&__title {
			font-size: 20px;
			margin-top: 0!important;
			@media (max-width: 576px) {
				font-size: 18px;
			}
			@media (max-width: 355px) {
				font-size: 16px;
			}
		}
		&__link {
			br {
				display: none;
			}
		}
		&__item {
			width: 50%;
			padding: 0;
			margin: 0;
			list-style: none!important;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}
}


.layers--row {
	.layers {
		padding: 0;
		margin: 0;
		&__title {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			font-size: 20px;
			opacity: 0;
			padding: 0 15px;
			text-align: center;
			color: $white;
			z-index: 2;
			margin-top: 0!important;
			transition: $transition;
			@media (max-width: 992px) {
				opacity: 1;
			}
		}
		&__main {
			p {
				display: none;
			}
		}
		&__link {
			position: relative;
			outline: none!important;
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: rgba(0,0,0,0.8);
				transition: $transition;
				opacity: 0;
				z-index: 1;
				@media (max-width: 992px) {
					opacity: 1;
					background: rgba(0,0,0,0.3);
				}
			}
			&:hover::before {
				opacity: 1;
			}
			&:hover {
				opacity: 1;
				outline: none!important;
			}
			&:hover > h4 {
				opacity: 1;
			}
			br, p {
				display: none;
			}
		}
		&__item {
			width: 50%;
			padding: 0;
			margin: 0;
			list-style: none!important;
			@media (max-width: 767px) {
				width: 100%;
			}
		}
	}
}

.title-white {
	.title-global {
		&::before, &::after {
			opacity: 0.1;
			background-color: #212529;
		}
	}
}

.reviews {
	width: 100%;
	margin: 0 auto;
	max-width: 1920px;
	display: flex;
	flex-wrap: wrap;
	&--wrap {
		width: 100%;
	}
	&__item:nth-child(3n+1) {
		background-color: rgb(209, 170, 102);
	}
	&__item:nth-child(3n+2) {
		background-color: hsl(38, 56%, 49%);
	}
	&__item:nth-child(3n+3) {
		background-color: hsl(38, 57%, 42%);
	}
	&__item {
		width: 33.3333%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		padding: 30px;
		margin-bottom: 40px;
		color: $white;
	}
	&__icon {
		i {
			font-size: 24px;
			color: $white;
		}
	}
	&__title {
		font-family: 'Cinzel', serif;
		font-size: 20px;
		padding: 10px 0 5px;
	}
}

.recall {
	padding: 100px 0;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&--wrap {
		margin-top: -40px;
		width: 100%;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	&__link {
		position: relative;
		margin: 0 auto;
		width: 90%;
		height: 140px;
		font-size: 45px;
		color: $black;
		display: flex;
		justify-content: center;
		align-items: center;
		text-transform: uppercase;
		font-family: 'Cinzel', serif;
		border-radius: 10px;
		text-decoration: initial;
		border: 2px solid transparent;
		background-color: rgb(210, 171, 103);
		transition: all 0.3s ease-in-out;
		&::before {
			content: attr(data-num);
			position: absolute;
			text-align: center;
			top: -50px;
			left: 50%;
			transform: translateX(-50%);
			width: 250px;
			height: 40px;
			font-size: 18px;
			line-height: 1;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 5px;
			background-color: $brownLight;
			color: $white;
			opacity: 0;
			font-family: 'Cinzel', serif;
			transition: $transition;
		}
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			top: -13px;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 10px 0 10px;
			border-color: $brownLight transparent transparent transparent;
			transition: $transition;
			opacity: 0;
		}
		&:hover::after {
			opacity: 1;
		}
		&:hover::before {
			opacity: 1;
		}
		&:hover {
			color: $black;
			border-color: $black;
			text-decoration: initial;
		}
		i {
			margin-right: 15px;
			@media (max-width: 576px) {
				display: none;
			}
		}

	}
}

.covid {
	width: 100%;
	padding: 30px;
	background-color: $brownLight;
	box-shadow: 0 0.15em 0.35em 0 rgba(0,0,0,.135);
	margin-bottom: 30px;
	@media (max-width: 576px) {
		padding: 25px 15px;
	}
	* {
		color: $white!important;
	}
	ol {
		padding: 30px 0 0 30px;
		li {
			padding-bottom: 30px;
			list-style-type: decimal;
		}
	}
}

p.rs-content-cta {
	color: $white;
	font-family: 'Cinzel', serif;
	font-size: 22px;
	padding-left: 50px;
	padding-right: 50px;
	line-height: 1.2;
	@media (max-width: 576px) {
		padding-left: 30px;
		padding-right: 30px;
	}
	a {
		color: $white;
		transition: $transition;
		outline: none;
		text-decoration: none;
		&:hover {
			color: $white;
		}
	}
}

.contacts {
	width: 100%;
	font-family: 'Cinzel', serif;
	font-size: 14px;
	line-height: 1.8;
	&--wrap {
		padding: 50px 0 70px;
		width: 100%;
		background-color: $brownLight;
	}
	&__title {
		font-size: 20px;
		color: $brownDark;
		padding-bottom: 15px;
		text-decoration: initial;
		transition: all .3s ease-in-out;
		&:hover {
			opacity: 0.5;
			text-decoration: initial;
		}
	}
	&__link {
		color: $brownDark;
		padding-bottom: 15px;
		text-decoration: initial;
		transition: all .3s ease-in-out;
		&:hover {
			opacity: 0.5;
			text-decoration: initial;
		}
	}
	&__text {
		color: $white;
	}
	&__phone {
		color: $white;
		a {
			margin-left: 5px;
			color: $brownDark;
			transition: all .3s ease-in-out;
			text-decoration: initial;
			&:hover {
				text-decoration: initial;
				color: $brownDark;
				opacity: 0.5;
			}
		}
	}
	&__map {
		margin-top: 5px;
		width: 100%;
		height: 250px;
		iframe {
			width: 100%;
			height: 100%;
			border: none;
		}
	}
	&--single {
		i {
			margin-right: 10px;
			font-size: 18px;
			font-weight: bold;
			color: $brownLight;
		}
		.contacts {
			&__title {
				margin-top: 0!important;
				font-size: 35px;
				color: $brownDark;
				&:hover {
					opacity: 1;
				}
			}
			&__sub {
				font-family: 'Cinzel', serif;
				color: $brownLight;
				font-size: 25px;
			}
			&__box {
				display: flex;
				i {
					transform: translateY(5px);
				}
			}
			&__text {
				padding-bottom: 0;
				font-family: "Source Sans Pro", sans-serif;
				font-size: 18px;
			}
			&__phone, &__link {
				padding-bottom: 0;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				font-size: 18px;
				font-family: "Source Sans Pro", sans-serif;
				br {
					display: none;
				}
			}
			&__map {
				height: 400px;
				+ p:not(.rs-content-cta) {
					display: none;
				}
			}
		}
	}
}

.main-content {
	.attorney-practice-area {
		.row {
			margin-left: 0;
			margin-right: 0;
			> div {
				padding: 0;
			}
		}
	}
	.awards--wrap {
		width: 100%;
		padding: 5px 0 30px;
	}
	.award-inner {
		height: 100%;
		width: 100%;
		margin-top: 12px;
		margin-bottom: 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			width: auto;
			max-height: 150px;
		}
	}
	#custom_html-2 {
		margin-bottom: 30px;
	}
	.container {
		padding: 0;
	}
	.custom-container {
		width: 1105px;
		padding-left: 30px;
		padding-right: 30px;
	}
	.main-content__sidebar {
		width: 100%;
	}
	.single-entry-content-thumbnail {
		width: 280px;
	}
	.faq-page-listing {
		border: .0625rem solid #e8e8e8;
		border-radius: .25rem;
		margin-bottom: 30px;
	}
}

.main-content .custom-container {
	width: 100%;
	max-width: 1105px;
}


.site-footer {
	padding: 0;
	background-color: $white;
}

.site-container {
  overflow-x: hidden;
}

.footer {
	position: relative;
	padding: 0 15px;
	width: 100%;
	&__nav {
		padding: 20px 0 10px;
		width: 100%;
	}
	&__social {
		width: 100%;
		padding-bottom: 20px;
	}
	&__review {
		width: 100%;
		p {
			font-size: 10px;
			letter-spacing: 2px;
			text-align: center;
			color: #7a7a7a!important;
			padding-bottom: 0!important;
		}
		a {
			color: $black!important;
			margin: 0 3px;
			transition: all .3s ease-in-out;
			text-decoration: initial;
			&:hover {
				text-decoration: initial;
				color: $brownLight!important;
			}
		}
	}
}

.menu {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__item {
		padding: 0 10px;
	}
	&__link {
		color: $black;
		text-decoration: initial;
		letter-spacing: 2px;
		font-size: 10px;
		text-transform: uppercase;
		transition: all .3s ease-in-out;
		&:hover {
			text-decoration: initial;
			color: $brownLight;
		}
	}
}

.menu-button {
	padding: 0;
	margin: 0;
	outline: none;
	border: none;
	cursor: pointer;
	display: none;
	font-size: 25px;
	color: $brownDark;
	border: initial;
	background: initial;
	transition: $transition;
	&:hover {
		border: initial;
		background: initial;
		color: $brownDark;
	}
	@media (max-width: 992px) {
		display: block;
	}
}


.menu-active {
	transform: rotate(90deg);
}

.pagination {
	ul li a {
		font-family: 'Cinzel', serif;
		transition: $transition!important;
		&:focus, &:hover {
			background: $brownDark;
		}
	}
	ul li.active a {
		background: $brownLight;
	}
}

.rs-content-cta {
	margin-bottom: 30px;
}

.social {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__item {
		padding: 0 15px;
	}
	&__link {
		color: $brownDark;
		text-decoration: initial;
		letter-spacing: 2px;
		font-size: 21px;
		text-transform: uppercase;
		transition: all .3s ease-in-out;
		&:hover {
			text-decoration: initial;
			color: $brownLight;
		}
	}
}

.copyright {
	padding: 0 0 40px;
	font-size: 10px;
	letter-spacing: 2px;
	text-align: center;
	color: #7a7a7a;
}

.fix-header {
	padding-top: 144px;
}

.overflow-global {
	overflow: hidden!important;
}

.contact_us {
	padding: 0;
	margin: 0;
	width: 170px;
	height: 34px;
	position: fixed;
	top: 48%;
	right: -68px;
	background-color: $brownLight;
	color: $white;
	border: 2px solid $white;
	font-size: 16px;
	font-family: 'Cinzel', serif;
	z-index: 9991;
	transform: rotate(-90deg);
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	text-decoration: initial;
	transition: all .3s ease-in-out;
	outline: none;
}

.other-links {
	width: 100%;
	position: absolute;
	bottom: -38px;
	left: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(-50%);
}

.sitemap_link {
	margin: 0 10px;
	font-size: 10px;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;
	color: #7a7a7a;
	transition: $transition;
	outline: none;
	text-decoration: initial;
	&:hover {
		color: $brownLight;
		text-decoration: initial;
	}
}

.form-contacts {
	padding: 30px;
	width: 100%;
	height: 100%;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	border: 1px solid $brownLight;
	&--wrap {
		position: fixed;
		top: 0;
		right: -100%;
		z-index: 999999;
		width: 500px;
		height: 100vh;
		background-color: $white;
		padding: 30px;
		transition: $transition;
		box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,.125);
	}
	&--active {
		right: 0;
	}
	&__link {
		width: 100%;
		display: flex;
		justify-items: flex-start;
		align-items: center;
		font-weight: 300;
		font-size: 25px;
		font-family: 'Cinzel', serif;
		margin-bottom: 30px;
		color: $brownDark;
		a {
			margin-left: 10px;
			font-weight: 400;
			text-decoration: initial;
			color: $brownLight;
			transition: $transition;
			outline: none;
			&:hover {
				color: $brownDark;
			}
		}
	}
	&__close {
		padding: 0 0 0 6.5px;
		margin: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 30px;
		height: 30px;
		display: flex;
		justify-items: center;
		align-items: center;
		outline: none;
		z-index: 2;
		font-size: 25px;
		color: $brownDark;
		line-height: 1;
		text-decoration: initial;
		transition: $transition;
		background-color: $brownLight;
		&:hover {
			text-decoration: initial;
			color: $white;
		}

	}
}

.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	background: rgba(0,0,0,.8);
	display: none;
	z-index: 99996;
}

.form-this {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
	&__row {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
        .wpcf7-not-valid-tip {
          bottom: -42px;
        }
		.form-this {
			&__label {
				width: 48%;
				margin-bottom: 25px;
			}
		}
	}
	&__name, &__subName {
		display: block;
		width: 100%;
		text-align: left;
		font-size: 14px;
		font-weight: bold;
	}
	&__subName {
		font-size: 12px;
	}

	&__label {
		width: 100%;
		margin-bottom: 25px;
	}
	&__sub {
		font-size: 13.3333px;
	}
	&__area {
		width: 100%;
	}
	&__input {
		width: 100%;
		height: 35px;
		border-radius: 5px;
		padding: 0 10px;
		font-size: 14px;
	}
	textarea {
		width: 100%;
		height: 200px;
		resize: none;
		padding: 15px 10px;
		border-radius: 5px;
		font-size: 14px;
	}
	&__submit {
		input {
			text-transform: uppercase;
			font-family: 'Cinzel', serif;
			font-size: 16px;
			background-color: $brownLight;
			border: none;
			outline: none;
			padding: 15px 40px;
			transition: $transition;
			&:hover, &:focus {
				color: $brownDark;
				background-color: $brownLight;
			}
		}
	}
}

body .userway {
	z-index: 999;
}

body .userway.userway-the-big .userway_accessibility_icon {
	width: 32px;
	height: 32px;
}

.genesis-nav-menu {
	width: max-content;
	@media (max-width: 992px) {
		width: 100%;
	}
	.menu-item a {
		padding: 15px;
		@media (max-width: 992px) {
			padding: 10px;
		}
	}
	.sub-menu a {
		padding: 15px;
		@media (max-width: 992px) {
			padding: 10px;
		}
		//font-family: "Source Sans Pro", sans-serif!important;
		//text-transform: capitalize;
		//@media (max-width: 1200px) {
		//	padding: 10px;
		//}
	}
}

.internal-hero-image {
	width: 100%;
	height: auto;
	padding: 50px 15px 45px;
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 1920px;
	text-transform: uppercase;
	margin: 0 auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	@media (max-width: 1200px) {
		padding: 50px 30px 40px;
	}
	h1 {
		max-width: 1080px;
		margin: 0 auto;
		width: 100%;
		text-align: left;
		font-family: 'Cinzel', serif;
		font-size: 40px;
		color: $white;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	}
}

.form-info__input {
	transition: $transition;
	&:focus, &:hover {
		border-color: $brownDark;
	}
}

.entry-title {
	margin-top: 0!important;
	&-link {
		font-family: 'Cinzel', serif;
		color: $brownDark;
		transition: $transition!important;
		text-decoration: initial;
		&:hover {
			color: $brownLight!important;
			text-decoration: initial;
		}
	}
}

.faq-filter-items {
	.faq-page-listing {
		max-width: 48%;
		@media (max-width: 576px) {
			max-width: 100%;
		}
	}
}

.page-id-2414 {
	.content-sidebar-wrap main {
		width: 100%;
		padding-right: 0;
	}
	.sidebar {
		display: none;
	}
}
.entry-meta {
	padding-bottom: 0!important;
	margin-bottom: 10px!important;
	a {
		font-family: 'Cinzel', serif;
		color: $brownLight;
		transition: $transition !important;
		text-decoration: initial;

		&:hover {
			color: $brownDark !important;
			text-decoration: initial;
		}
	}
}

.breadcrumb {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto 30px;
	padding: 5px 0!important;
	@media (max-width: 1150px) {
		padding: 5px 30px!important;
	}
	a {
		color: $brownLight;
		text-decoration: initial;
		transition: all .3s ease-in-out;
		outline: none;
		&:hover {
			color: $brownDark;
			text-decoration: initial;
		}
	}
}

.subtext {
	text-align: center;
	padding-bottom: 30px;
}

.pa-attorneys {
	+ p:not(.rs-content-cta) {
		display: none;
	}
	p:not(.rs-content-cta) {
		display: none;
	}
}

.division-head {
	font-family: 'Cinzel', serif;
}

.title-global--wrap  {
	+ p:not(.rs-content-cta) {
		display: none;
	}
}

.phone_mob {
	display: none;
	@media (max-width: 992px) {
		display: block;
		color: $brownDark;
		outline: none;
		font-size: 22px;
		margin-right: 11px;
		text-decoration: initial;
		&:hover {
			color: $brownDark;
			outline: none;
			text-decoration: initial;
		}
	}
}

.entry-content {
	h2, h3, h4, h5, h6 {
		font-family: 'Cinzel', serif;
		color: $brownDark;
	}
	a {
		text-decoration: initial!important;
		color: $brownLight!important;
		transition: $transition!important;
		&:hover {
			color: $brownDark;
			text-decoration: initial;
		}
	}
	h4 {
		margin-top: 0;
	}
	.rs-content-cta {
		a {
			color: $white!important;
			text-decoration: initial!important;
			transition: $transition!important;
			&:hover {
				color: $brownDark!important;
				text-decoration: initial!important;
			}
		}
	}
}

p.rs-content-cta a {
	color: $white;
	text-decoration: initial!important;
	transition: $transition!important;
	&:hover {
		color: $brownDark!important;
		text-decoration: initial!important;
	}
}

.pt-3 {
	padding-bottom: 30px;
}

.division-title {
	width: 100%;
	text-align: center;
	font-family: 'Cinzel', serif;
	color: $brownDark;
}

.division-content {
	text-align: center;
}

.padding-fix {
	padding: 0 0 105px!important;
}

.font-34 {
	padding: 30px 0!important;
}

.center {
	text-align: center;
}

.page-child, .page-template-templates, .content-sidebar {
	p, figcaption {
		color: $brownDark;
	}
	p {
		padding-bottom:30px;
	}
	.content-sidebar-wrap {
		width: 100%;
		padding: 0 30px;
		max-width: 1140px;
		margin: 0 auto;
	}
}

.custom-headline-white {
	background-color: $white;
	color: $brownLight;
}

.page-template-templates {
	.container {
		padding: 0;
	}
}

.attorney-heading {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.attorney-information {
	width: 100%;
	display: flex;
}

.contact-form-section {
	select {
		width: 100%;
		padding: 5px 20px 5px 6px;
		outline: none;
		font-size: 14px;
		border-radius: 5px;
	}
	input {
		padding: 5px 10px;
		border-radius: 5px;
		height: 35px;
	}
}

.wpcf7-form-control-wrap {
	position: relative;
	width: 31%;
	transform: translateY(-10px);
	@media (max-width: 992px) {
		margin: 10px 0;
		transform: initial;
	}
	@media (max-width: 576px) {
		width: 100%;
	}
}

.form-time-input {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.your-conmethod {
	padding-top: 10px;
}

.form-contact-section, .form-date-section, .form-confirmation-section, .form-message-section, .form-time-section, .form-email-section, .form-name-section {
	padding: 0 0 20px;
	display: flex;
	flex-direction: column;
	> label {
		font-size: 16px!important;
		font-weight: bold;
	}
	textarea {
		padding: 10px 15px;
		height: 250px;
		resize: none;
		outline: none;
		border-radius: 5px;
		@media (max-width: 768px) {
			height: 150px;
		}
	}
	input[type="date"] {
		height: 35px;
		border-radius: 5px;
		width: 100%;
		@media (max-width: 576px) {
			width: 100%;
		}
	}
	input[type="radio"], input[type="checkbox"] {
		height: 11px!important;
	}
 	* {
		font-size: 14px;
	}
	br + label {
		font-size: 14px!important;
		font-weight: normal!important;
	}
}

.orangish-back-clr {
	margin-bottom: 30px;
}



.form-group {
	margin-bottom: 10px;
	label {
		font-size: 14px!important;
		font-weight: normal!important;
	}
}

.form-address-section {
	padding: 0 0 20px;
	display: flex;
	flex-direction: column;
	label:first-child {
		font-size: 16px!important;
		font-weight: bold;
		margin-bottom: 0;
	}
	* {
		font-size: 14px;
	}
	br + label {
		font-size: 14px!important;
		font-weight: normal!important;
	}
}

.form-time-section {
	margin-top: -20px;
}


.form-confirmation-section .more-info-form {
	font-size: 12px;
	margin-bottom: 10px;
	line-height: 1.2!important;
}

.form-email-section {
	margin-bottom: 20px;
}

.form-message-section {
	.your-message {
		width: 100%;
		transform: initial;
	}
}

span.wpcf7-list-item {
	margin: 10px 15px 10px 0!important;
}

.has-post-thumbnail {
	.single-entry-content-thumbnail {
		width: 300px;
	}
	.man, .woman {
		padding: 0 0 30px;
	}
	.single-logo-image {
		padding: 10px 15px!important;
	}
}

.personal-details {
	h5, h4 {
		font-family: 'Cinzel', serif;
	}
	ul {
		padding-left: 35px;
		padding-bottom: 35px;
	}
	li {
		list-style-type: circle;
	}
}

.widgettitle {
	background: $brownLight;
}

.faq-page__image--wrap {
	width: 100%;
	height: 150px;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}
}

.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0!important;
}

.gform_wrapper .top_label .gfield_label {
	margin-bottom: 0!important;
}

.gform_wrapper h3  {
	font-family: 'Cinzel', serif;
	a {
		transition: $transition;
		color: $brownLight;
		text-decoration: initial;
		&:hover {
			color: $brownDark;
			text-decoration: initial;
		}
	}
}

.sidebar-contact-form__phone-heading a {
	transition: $transition;
	color: $brownLight;
	text-decoration: initial;
	&:hover {
		color: $brownDark;
		text-decoration: initial;
	}
}

.sidebar-contact-form {
	background: $brownLight;
	.button-submit {
		height: 45px;
		background: $white;
		color: $brownLight;
		font-family: 'Cinzel', serif;
		transition: all .3s ease-in-out;
		&:hover {
			background-color: $brownDark;
		}
	}
	&__phone {
		&-heading {
			font-family: 'Cinzel', serif;
			a {
				color: $white;
				padding-bottom: 5px;
			}
		}
	}
	&__subheading {
		font-family: 'Cinzel', serif;
	}
}

div#wpcs_tab_1946 {
	top: 45%!important;
	transition: $transition;
	&:hover {
		color: $brownDark;
	}
}

.form-info {
	&__label {
		height: 40px;
	}
	&__input {
		font-size: 14px;
		padding: 0 15px;
	}
	&__textarea {
		font-size: 14px;
		padding: 10px 15px;
		resize: none;
		&-env {
			height: 150px;
		}
	}
}

.contact-form {
	&-heading {
		font-family: 'Cinzel', serif;
	}
}

.form-name-section, .form-email-section, .form-address-section {
	width: 100%;
	label {
		font-size: 14px;
	}
	.form-group, p {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		flex-wrap: wrap;
		label {
			width: 48%;
			@media (max-width: 576px) {
				width: 100%;
			}
		}

	}

}

.section {
	.container {
		padding-left: 0;
		padding-right: 0;
	}
}

.form-phone-section {
	margin-bottom: 20px;
	label {
		width: 48%!important;
		@media (max-width: 992px) {
			width: 100%!important;
		}
	}
}

.form-time-section, .form-contact-section {
	.form-group {
		flex-wrap: wrap;
		label {
			width: 31%;
			@media (max-width: 992px) {
				width: 100%;
			}
		}
	}
}

.contact-form-content {
	p {
		padding: 0!important;
	}
}

.form_title {
	font-family: 'Cinzel', serif;
	color: $brownDark;
	font-size: 35px;
}

.location-widget-links .single-location-link a:hover, .widget-wrap ul li a:hover {
	background: $brownDark;
}

.widget-wrap {
	ul li a {
		background-color: #e0e0e0;
		font-family: 'Cinzel', serif;
		text-align: center;
	}
}

.page-id-2873 {
	.container {
		p {
			text-align: center;
			font-family: 'Cinzel', serif;
			font-size: 35px;
			line-height: 1.2;
			padding-bottom: 20vh;
			color: $brownLight;
		}
	}
}

.widget-title, .faq-page-listing a, .faq-page__title {
	font-family: 'Cinzel', serif!important;
}

.faq-page__title {
	font-size: 14px!important;
}

.attorney-logo-column {
	p {
		display: none!important;
	}
}

.related-articles {
	margin-top: 0;
	border-color: $brownDark;
	h2 {
		font-family: 'Cinzel', serif;
		color: $brownDark;
	}
	a {
		color: $brownLight;
		transition: $transition!important;
		outline: none;
		text-decoration: initial;
		position: relative;
		&::before {
			content: "";
			position: absolute;
			bottom: -3px;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 1px;
			background-color: $brownLight;
		}
		&:hover::before {
			width: 100%;
		}
		&:hover, &:focus {
			color: $brownDark;
			outline: none;
			text-decoration: initial;
		}
	}
}

.form-address-section, .form-phone-section, .form-email-section, .form-time-section {
	padding: 0;
	label {
		width: 100%;
		font-size: 14px;
	}
	input {
		border-radius: 5px;
		width: 100%;
		height: 35px;
		font-size: 14px;
		color: $black;
		outline: none;
	}
}

.form-submit-section {
	width: 100%;
	@media (max-width: 992px) {
		display: flex;
		justify-content: center;
	}
	input[type="submit"] {
		width: 150px;
		height: 50px;
		font-family: 'Cinzel', serif;
		font-weight: normal;
		border-radius: 5px;
		background-color: $brownDark;
		color: $white;
		font-size: 22px;
		text-transform: uppercase;
		outline: none;
		text-decoration: none;
		transition: $transition!important;
		@media (max-width: 576px) {
			width: 100%;
		}
		&:hover, &:focus {
			color: $brownLight;
			background-color: $brownDark;
		}
	}
}

p.rs-content-cta {
	background: $brownLight;
}

.custom-headline {
	width: 100%;
	padding: 30px 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white;
	text-align: center;
	font-family: 'Cinzel', serif;
	background-color: $brownLight;
	@media (max-width: 767px) {
		padding: 30px 20px;
		flex-direction: column;
	}
}

.single-logo-image {
	display: flex;
	justify-content: center;
	align-items: center;
	img {
		width: 100%;
		height: auto!important;
	}
}

.practice-area {
	&-heading {
		font-size: 18px!important;
		color: $white;
		padding: 0 5px;
		line-height: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: normal!important;
		i {
			width: 25px;
			height: 25px;
			font-size: 14px;
			margin-right: 5px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			background: $brownDark;
		}
	}
	&-list {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}
	&-link {
		width: 100%;
		display: block;
		overflow: hidden;
		transition: all .3s ease-in-out!important;
		&:hover > img {
			transform: scale(1.1);
		}
		&:hover {
			opacity: 0.6;
		}
	}
	&-img {
		transition: all .3s ease-in-out!important;
	}
	&-col {
		width: 33.3333%;
		p {
			padding: 0;
		}
		@media (max-width: 768px) {
			width: 50%;
		}
		@media (max-width: 576px) {
			width: 100%;
		}
	}
	&-two {
		.practice-area-col {
			width: 50%;
			@media (max-width: 576px) {
				width: 100%;
			}
		}
	}
}

.mb-3 {
	margin-top: 15px;
}

.testimonial-list {
	background-color: $white!important;
	padding: 0 0 30px!important;
	blockquote:not(:last-child) {
		border-bottom: 1px solid $brownDark;
	}
	blockquote {
		margin: 0;
		padding: 30px 0;
		font-size: 16px;
		br {
			display: none;
		}
		p {
			text-align: left;
			font-style: normal!important;
		}
		cite {
			padding-top: 10px;
			display: block;
			width: 100%;
			text-align: right;
			color: $brownLight;
		}
	}
}

.our-staff {
	&-heading {
		padding-top: 70px;
		text-align: center;
		span {
			font-family: 'Cinzel', serif;
		}
	}
}

.menu-item {
	a:focus, a:visited, a:active {
		outline: none!important;
	}
}

.btn-search, .menu-button {
	&:focus, &:visited, &:active {
		outline: none!important;
		background: none!important;
	}
}

.logo-list {
	padding-top: 15px;
}

.title-white {
	&::before, &::after {
		background-color: $black!important;
	}
}

.entry-meta {
	font-family: 'Cinzel', serif;
}

.intro-content {
	text-align: center;
}

.our-staff-info {
	background-color: $brownLight;
	.staff-column {
		margin-bottom: 30px;
	}
}

.staff-info-contents {
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,.125);
}

.staff-info-content {
	background-color: $white;
	padding: 10px 10px 30px;
	text-align: center;
	h3 {
		font-size: 28px;
		font-family: 'Cinzel', serif;
	}
	h4 {
		font-size: 22px;
		margin: 0;
		font-family: 'Cinzel', serif;
	}
}

.our-staff-heading {
	padding-top: 0!important;
}

.practice-area-list {
	background: $brownLight;
}

.locations-list {
	h2 {
		font-family: 'Cinzel', serif;
		color: $brownDark;
	}
	ul li a {
		text-decoration: initial;
		color: $brownLight;
		outline: none;
		transition: $transition!important;
		&:hover {
			outline: none;
			color: $brownDark;
			text-decoration: initial;
		}
	}
}

.person {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0!important;
	margin: 0!important;
	flex-wrap: wrap;
	transform: translateY(2px);
	&__link {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: all .3s ease-in-out;
		overflow: hidden;
		br {
			display: none;
		}
		&:hover img {
			transform: scale(1.1);
		}
	}
	&__item {
		width: 20%;
		padding: 0;
		margin: 0;
		list-style: none!important;
		@media (max-width: 576px) {
			width: 100%;
		}
	}
	&--wrap {
		width: 100%;
		background-color: $brownLight;
		padding-top: 2px;
	}
	img {
		width: 100%;
		transition: all .3s ease-in-out!important;
	}
}

.person-xl {
	background: $brownLight;
	.person {
		&__item {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			text-align: center;
			margin-bottom: 35px;
			width: 33.3333%;
			@media (max-width: 576px) {
				width: 100%;
			}
			p {
				font-size: 20px;
				padding-top: 15px;
				font-family: 'Cinzel', serif;
				color: $white;
                transition: $transition;
			}
		}
      &__link {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        text-align: center;
        text-decoration: initial;
        color: $white;
        &:hover > img {
          transform: initial;
        }
        &:hover > p {
          color: $brownDark;
        }
        &:hover {
          text-decoration: initial;
        }
      }
	}
}

.content-sidebar-wrap {
	.breadcrumb {
		max-width: 1105px;
		padding-left: 0!important;
		padding-right: 0!important;
	}
	.custom-container {
		padding-bottom: 30px;
	}
}

.page-id-349, .page-id-1210, .page-id-135, .page-id-34 {
	.content-sidebar-wrap {
		.breadcrumb {
			max-width: 1045px;
			@media (max-width: 1150px) {
				padding-left: 30px!important;
				padding-right: 30px!important;
			}
		}
	}
}

.page-id-143 {
	.content-sidebar-wrap {
		.container {
			padding: 0;
		}
	}
}


.attorney-raw-content.mb-3 {
	margin: 0!important;
}
.attorney-raw-content {
	padding-bottom: 30px;
}

.practice-area-link {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	img {
		transition: all .3s ease-in-out!important;
	}
}

.suffix {
	color: $brownDark;
}

#write {
	color: $brownDark;
	border-right: 1px solid $brownDark;
	animation: blink-caret .5s step-end infinite;
	@media (max-width: 576px) {
		min-height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.custom-headline.headline-white {
	height: max-content;
	padding: 30px 0 15px;
	margin: 0;
	background-color: #fff;
	color: $brownLight;
	text-align: center;
	font-family: 'Cinzel', serif;
}
.section-asked {
	padding: 0 15px 40px;
	width: 100%;
	background-color: $brownLight;
}

.asked {
	width: 100%;
	> p {
		display: none;
	}
	&--wrap {
		width: 100%;
		+ p:not(.rs-content-cta) {
			display: none;
		}
		> p:not(.rs-content-cta) {
			display: none;
		}
	}
	&__item {
		width: 100%;
		margin-bottom: 20px;
		p {
			display: none;
		}
	}
	&__btn {
		margin: 0;
		padding: 10px 10px 10px 30px;
		width: 100%;
		height: auto;
		display: flex;
		font-size: 16px;
		color: $brownDark;
		justify-content: flex-start;
		align-items: flex-start;
		background-color: $white;
		cursor: pointer;
		outline: none;
		text-decoration: initial;
		line-height: 1;
		box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,.125);
		position: relative;
		&:before {
			content: '+';
			position: absolute;
			top: 12px;
			left: 10px;
			width: 20px;
			height: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			color: $black;
			opacity: 0.6;
			transition: $transition;
			font-size: 25px;
			line-height: 1;
			font-weight: bold;
		}
		p {
			line-height: 1.3;
			display: none;
		}
		&:hover, &:active {
			outline: none;
			color: $brownDark;
			text-decoration: initial;
		}
		br {
			display: none;
		}
	}
	&__this {
		margin-top: 3px;
		padding: 0 0 0 10px!important;
		display: block!important;
	}
	&__hidden {
		display: none;
		width: 100%;
		background-color: $white;
		padding: 15px;
		box-shadow: 0 0.125em 0.275em 0 rgba(0,0,0,.125);
		position: relative;
		z-index: 1;
		border-top: 1px solid rgba(0,0,0,.15);
		p {
			display: block;
			font-size: 14px;
			line-height: 1.2;
		}
		p:not(:last-child) {
			padding-bottom: 10px;
		}
	}
	&--active {
		&::before {
			transform: rotate(45deg)!important;
		}
	}
}

.division-head {
	color: $brownDark;
}

@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: $brownDark }
}

// TODO remove sections
#custom_html-3 {
	display: none;
}

@media (max-width: 1200px) {
	.fix-header {
		padding-top: 93px;
	}
	.logotype {
		width: 170px;
		height: 57px;
	}
	.header {
		&__phone {
			p {
				font-size: 20px;
			}
		}
	}
	.menu-item {
		a {
			font-size: 12px;
		}
	}
	.recall {
		&__link {
			font-size: 40px;
		}
	}
	.layers {
		&__title {
			font-size: 20px;
		}
	}
	.contacts {
		margin-bottom: 35px;
		&--wrap {
			padding-bottom: 30px;
		}
	}
}

@media (max-width: 992px) {
	.fix-header {
		padding-top: 0;
	}
	.form-contacts {
		padding: 30px 15px 30px;
	}
	.site-header {
		> .wrap {
			padding: 0;
		}
	}
	.menu-item-has-children {
		&::after {
			content: none;
		}
	}
	.header {
		&__fix {
			justify-content: space-between;
			align-items: center;
		}
		&__menu {
			padding: 30px 30px 150px;
			width: 100%;
			height: 100vh;
			overflow-y: scroll;
			position: fixed;
			top: 56px;
			right: -100%;
			display: block;
			transition: $transition;
			background-color: $white;
			&--active {
				transition: $transition;
				right: 0;
			}
		}
		.search-form__input {
			color: $brownDark;
			width: 100%;
			border: 1px solid $brownDark;
			text-align: left;
			font-size: 16px;
			border-radius: 5px;
			padding: 10px 15px;

		}
	}
	.genesis-nav-menu {
		.sub-menu {
			padding: 0;
			display: block!important;
		}
		.menu {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
		}
		.menu-item {
			width: 100%;
			text-align: left;
			a {
				font-size: 14px;
			}
		}
		.sub-menu {
			padding-left: 30px;
		}
	}
	.header__sticky {
		.header__menu {
			top: 56px;
		}
	}
	.btn-search {
		margin-right: 20px;
		padding: 0;
		@media (max-width: 992px) {
			margin-right: 0;
		}
		i {
			font-size: 25px;
		}
	}
	.title-global {
		&::before, &::after {
			content: none;
		}
	}
	.hero {
		&__link {
			font-size: 14px;
		}
		&__title {
			font-size: 45px;
		}
	}
	.about {
		&__sub {
			font-size: 25px;
		}
	}
	.data {
		&__sub {
			font-size: 25px;
		}
	}
	.layers {
		&__item {
			width: 50%;
		}
		&__title {
			font-size: 20px;
		}
	}
	.reviews {
		&__item {
			width: 100%;
			margin-bottom: 0;
		}
		&__item:nth-child(3) {
			margin-bottom: 40px;
		}
	}
	.recall {
		&--wrap {
			margin-top: 0;
		}
		&__link {
			height: 90px;
			font-size: 25px;
		}
	}
	.contacts {
		margin-bottom: 30px;
		&--wrap {
			padding: 50px 0 30px;
		}
	}
}

@media (max-width: 768px) {
	.contact_us {
		display: none;
	}
	.logotype {
		width: 150px;
		height: 56px;
		transform: translateX(-5px);
	}
	.hero {
		&__title {
			font-size: 35px;
		}
	}
	.scroll-btn {
		bottom: 40px;
		width: 25px;
		right: 3px;
		height: 25px;
		font-size: 15px;
		&:hover i {
			transform: initial;
		}
	}
}

#custom_html-4 {
	.widget_text {
		padding: 0;
	}
}

@media (max-width: 576px) {
	figure.alignright {
		width: 100%!important;
		margin-left: 0;
	}
	figcaption {
		max-width: 100%;
	}
	.contact_us {
		display: flex;
	}
	.form-contacts {
		&--wrap {
			width: 100%;
			height: 100%;
			z-index: 999999;
		}
		&__link {
			font-size: 20px;
		}

	}
	.menu {
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		&__item {
			padding: 0 0 10px!important;
		}
		&__link {
			font-size: 14px;
			line-height: 1.4;
		}
	}
	.hero {
		&__link {
			font-size: 12px;
		}
		&__title {
			font-size: 25px;
		}
	}
	.awards {
		padding-bottom: 0;
		&__four {
			flex-direction: column;
			padding-bottom: 0;
		}
		&__three {
			flex-direction: column;
			padding-bottom: 0;
		}
	}
	.award {
		margin-bottom: 25px;
		padding-right: 0!important;
		max-width: 100% !important;
	}
	.avvo {
		&--wrap {
			padding-top: 0;
			padding-bottom: 30px;
			align-items: center!important;
			flex-direction: column!important;
			justify-content: flex-start!important;
		}
	}
	.data {
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		&__item:not(:last-child) {
			margin-bottom: 15px;
		}
		&__item {
			width: 100%;
		}
		&__sub {
			font-size: 55px;
		}
		&__name {
			font-size: 20px;
		}
	}
	.layers {
		&__item {
			width: 100%;
		}
	}
	.recall {
		&__link {
			height: 60px;
			width: 100%;
			font-size: 15px;
		}
	}
	.title-global {
		.title-font {
			font-size: 35px;
		}
	}
	.about {
		&__sub {
			font-size: 24px;
			line-height: 1.6;
		}
	}
}

@media (max-width: 350px) {
	.header {
		&__phone {
			p {
				font-size: 12px;
			}
		}
	}
	.hero {
		&__line {
			padding: 10px 15px;
		}
		&__link {
			font-size: 12px;
		}
		&__title {
			font-size: 22px;
		}
	}
	.recall {
		&__link {
			font-size: 12px;
		}
	}
	.layers {
		&__title {
			font-size: 18px;
		}
	}
}